body {
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  }
  
  #mainDiv {
    border-radius: 5px;
    background-color: #f9f8fc;
    padding: 20px;
    margin: 10% 30%;
    width: 30%;
  }
  
  #taskInput {
    padding: 10px;
    width: 75%;
  }
  
  button {
    background-color: #dab139;
    color: white;
    font-size: 30px;
    min-width: 10%;
    border: none;
    margin-left: 8px;
  }
  
  div > p {
    background-color: #e8e8e8;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
  }